git rm -r --cached

### notebooks old

supervisado-Copy1.ipynb
Presnetacion.odp
supervisado.ipynb
Imagenes.ipynb
supervisado_2022.ipynb
No_supervisado_2022.ipynb
No_supervisado.ipynb
.ipynb_checkpoints/
